<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>注册页面</title>
        <meta charset="utf-8">
        <meta name="format-detection" content="telephone=no">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta http-equiv="Access-Control-Allow-Origin" content="*">
        <link href="/css/register.css" type="text/css" rel="stylesheet">
        <link href="/css/global.css" type="text/css" rel="stylesheet">
        <script type="text/javascript" src="/js/register.js"></script>
    </head>
    <body style="background-image: url('/img/15.png')">
        <div id="layout">
            <span>博客账号注册</span>
            <form th:action="@{/register}" method="post">
            <ul>
                <p id="err_msg" th:text="${msg}"></p>
                <li><input type="hidden" name="role" th:value="${role}"></li>
                <li><i class="un"><img src="/img/user_name.png"></i><input name="username" class="username" type="text" placeholder="请输入用户名" /></li>
                <li><i class="yz"><img src="/img/msg.png"></i><input name="email" class="yzm" type="text" placeholder="请输入邮箱" /></li>
                <li><i class="pw"><img src="/img/pwd.png"></i><input name="password" class="pwd" type="password" placeholder="请输入密码" /></li>
                <li><i class="pw2"><img src="/img/pwd.png"></i><input class="pwd2" type="password" placeholder="请输入确认密码" /></li>
                <div class="queren"><input class="fx" type="checkbox" checked="checked" /><p style="color: white">我已阅读并同意《用户协议》</p></div>
            </ul>
                <div class="reg_btn">
                    <button class="submit" type="submit">注册</button>
                    <a th:href="@{/toLogin}"><div class="reg-login"><p>已有帐号，立即登陆</p></div></a>
                </div>
            </form>
        </div>
    </body>
</html>