<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>博客猿</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8f8f8;
            color: #CCCCCC;
            margin: 0;
            padding: 0;
            background-image: url("/img/bj.jpg");
            background-color: rgba(0, 0, 0, 0.5); /* 设置背景色，其中最后一个参数是透明度 */
            background-blend-mode: overlay;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
        .border-container {
            border: 2px inset #ccc; /* 边框样式和颜色 */
            border-radius: 10px; /* 边框圆角 */
            padding: 10px; /* 内边距 */
        }
    </style>

</head>
<body>

<!--顶部导航栏-->
<div th:replace="~{client/common::topbar}"></div>
<div class="container page-content">
    <div class="row">
        <div class="col-md-8 col-sm-12 border-container">
            <!-- 文章遍历并分页展示 -->
            <div th:each="article: ${articles.list}">
                <article class="row blog-entry-article">
                    <div class="col-lg-5 col-md-12 col-sm-12 blog-entry-img d-flex justify-content-center">
                        <img class="img-fluid blog-entry-img " style="width: 100%;height: 95%;border-radius: 10px" th:src="@{${commons.show_thumb(article)}}">
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 blog-entry-text">
                        <br>
                        <h2 class="blog-title">
                            <a style="color: #0f9ae0; font-size: 20px; text-decoration: none;" th:href="${commons.permalink(article.id)}"
                               th:text="${article.title}" onmouseover="this.style.color='orange'" onmouseout="this.style.color='#0f9ae0'"></a>
                        </h2>
                        <!-- 文章摘要-->
                        <div th:utext="${commons.intro(article,75)}"></div>
                        <!-- 发布时间 -->
                        <span th:text="'发布于 '+ ${commons.dateFormat(article.created)}"></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        <span class="blog-color"style="font-size: 15px;" th:text="${article.categories}"><a>默认分类</a></span>
                        <span>&nbsp;&nbsp;&nbsp;</span>
                        作者:<span class="blog-color"style="font-size: 15px;" th:text="${article.author}"><a>作者</a></span>
                        <hr>
                    </div>
                </article>
            </div>

            <!-- 文章分页信息 -->
            <nav aria-label="..." th:if="${title['title'].equals('')}">
                <ul class="pagination justify-content-center">
<!--                    如果有前一页-->
                    <th:block th:if="${articles.hasPreviousPage}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/page/'+${articles.prePage}}" aria-label="Previous" style="background-color: #333;">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    </th:block>
<!--                    没有前一页-->
                    <th:block th:unless="${articles.hasPreviousPage}">
                        <li class="page-item disabled">
                            <span class="page-link" aria-label="Previous" style="background-color: #333;">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </span>
                        </li>
                    </th:block>

                    <th:block th:each="pageNum:${articles.navigatepageNums}">
                        <th:block th:if="${articles.pages}<=5">
                            <li th:class="${articles.pageNum}==${pageNum}?'active':''" >
                                <a style="background-color: #333;" class="page-link" th:href="@{'/page/'+${pageNum}}" th:text="${pageNum}"></a>
                            </li>
                        </th:block>
                        <th:block th:if="${articles.pages}>5">
                            <li th:if="${articles.pageNum<=3 && pageNum<=5}" th:class="${articles.pageNum}==${pageNum}?'active':''">
                                <a style="background-color: #333;" class="page-link" th:href="@{'/page/'+${pageNum}}" th:text="${pageNum}"></a>
                            </li>
                            <li th:if="${articles.pageNum >= articles.pages-2 && pageNum > articles.pages-5}" th:class="${articles.pageNum}==${pageNum}?'active':''">
                                <a style="background-color: #333;" class="page-link" th:href="@{'/page/'+${pageNum}}" th:text="${pageNum}"></a>
                            </li>
                            <li th:if="${articles.pageNum >=4 && articles.pageNum <= articles.pages-3 &&  pageNum >= articles.pageNum-2 && pageNum <= articles.pageNum+2}"  th:class="${articles.pageNum}==${pageNum}?'active':''">
                                <a style="background-color: #333;" class="page-link" th:href="@{'/page/'+${pageNum}}" th:text="${pageNum}"></a>
                            </li>
                        </th:block>
                    </th:block>


                    <th:block th:if="${articles.hasNextPage}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/page/'+${articles.nextPage}}" aria-label="Next" style="background-color: #333;">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </th:block>
                    <th:block th:unless="${articles.hasNextPage}">
                        <li class="page-item disabled">
                            <span class="page-link" aria-label="Next" style="background-color: #333;">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </span>
                        </li>
                    </th:block>
                </ul>
            </nav>


            <nav aria-label="..." th:unless="${title['title'].equals('')}">
                <ul class="pagination justify-content-center">
                    <!--                    如果有前一页-->
                    <th:block th:if="${articles.hasPreviousPage}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/page/'+${articles.prePage}+'?title='+${title['title']}}" aria-label="Previous" style="background-color: #333;">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                    </th:block>
                    <!--                    没有前一页-->
                    <th:block th:unless="${articles.hasPreviousPage}">
                        <li class="page-item disabled">
                            <span class="page-link" aria-label="Previous" style="background-color: #333;">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </span>
                        </li>
                    </th:block>

                    <th:block th:each="pageNum:${articles.navigatepageNums}">
                        <th:block th:if="${articles.pages}<=5">
                            <li th:class="${articles.pageNum}==${pageNum}?'active':''" >
                                <a style="background-color: #333;" class="page-link" th:href="@{'/page/'+${pageNum}+'?title='+${title['title']}}" th:text="${pageNum}"></a>
                            </li>
                        </th:block>
                        <th:block th:if="${articles.pages}>5">
                            <li th:if="${articles.pageNum<=3 && pageNum<=5}" th:class="${articles.pageNum}==${pageNum}?'active':''">
                                <a style="background-color: #333;" class="page-link" th:href="@{'/page/'+${pageNum}+'?title='+${title['title']}}" th:text="${pageNum}"></a>
                            </li>
                            <li th:if="${articles.pageNum >= articles.pages-2 && pageNum > articles.pages-5}" th:class="${articles.pageNum}==${pageNum}?'active':''">
                                <a style="background-color: #333;" class="page-link" th:href="@{'/page/'+${pageNum}+'?title='+${title['title']}}" th:text="${pageNum}"></a>
                            </li>
                            <li th:if="${articles.pageNum >=4 && articles.pageNum <= articles.pages-3 &&  pageNum >= articles.pageNum-2 && pageNum <= articles.pageNum+2}"  th:class="${articles.pageNum}==${pageNum}?'active':''">
                                <a style="background-color: #333;" class="page-link" th:href="@{'/page/'+${pageNum}+'?title='+${title['title']}}" th:text="${pageNum}"></a>
                            </li>
                        </th:block>
                    </th:block>


                    <th:block th:if="${articles.hasNextPage}">
                        <li class="page-item">
                            <a class="page-link" th:href="@{'/page/'+${articles.nextPage}+'?title='+${title['title']}}" aria-label="Next" style="background-color: #333;">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </th:block>
                    <th:block th:unless="${articles.hasNextPage}">
                        <li class="page-item disabled">
                            <span class="page-link" aria-label="Next" style="background-color: #333;">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </span>
                        </li>
                    </th:block>
                </ul>
            </nav>

        </div>
        <!-- 博主信息描述 -->
        <div class="col-md-4 col-sm-12 blog-sidebar">
            <div class="blog-sidebar-widget blog-bor">
                <h2 class="blog-text-center blog-title"><span>个人博客❥</span></h2>
                <img class="img-fluid" th:src="@{/img/touxiang.png}" alt="about me">
                <p>Java后台开发</p>
                <p>个人博客小站，主要发表关于Java、Spring、Docker等相关文章</p>
            </div>
            <div class="blog-sidebar-widget blog-bor">
                <h2 class="blog-text-center blog-title"><span>联系我</span></h2>
                <p>
                    <a href="https://github.com/your-github" target="_blank"><span class="fab fa-github blog-icon"></span></a>
                    <a href="https://weibo.com/your-weibo" target="_blank"><span class="fab fa-weibo blog-icon"></span></a>
                </p>
            </div>

            <!-- 阅读排行榜 -->
            <div class="blog-sidebar-widget blog-bor border-container">
                <h2 class="blog-text-center blog-title"><span style="color: #dfc2c4">阅读排行榜</span></h2>
                <div style="text-align: left">
                    <th:block th:each="article :${articleList}">
                        <a style="font-size: 15px;text-decoration: none;color: white" th:href="@{'/article/'+${article.id}}"
                           th:text="${articleStat.index+1}+'、'+${article.title}+'('+${article.hits}+')'" onmouseover="this.style.color='orange'" onmouseout="this.style.color='white'"></a>
                        <hr style="margin-top: 0.6rem; margin-bottom: 0.4rem;">
                    </th:block>

                </div>
            </div>
        </div>


    </div>
</div>
<script>
    window.addEventListener('scroll', function() {
        var navbar = document.querySelector('.navbar');
        navbar.style.top = window.pageYOffset + 'px';
    });
</script>
</body>
</html>