<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">个人中心</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:class="${active}=='home'?'nav-link active':'nav-link'" th:href="@{/user/toIndex}">首页</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${active}=='articleReady'?'nav-link active':'nav-link'" th:href="@{/user/toArticleReady}">发布文章</a>
                    </li>
                    <li class="nav-item">
                        <a th:class="${active}=='article'?'nav-link active':'nav-link'" th:href="@{/user/toArticleM}">文章管理</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">返回前台</a>
                    </li>
                    <span>&nbsp;&nbsp;</span>
                    <a class="navbar-brand " href="#">
                        <img style="border: black 2px;border-radius: 20px;width: 40px;height: 40px" src="/img/touxiang.png" alt="头像">
                    </a>
                    <span style="font-size: 23px;color: #bfe2e9" th:text="${username}">作者</span>
                </ul>
            </div>
        </div>
    </nav>
</header>
<footer class="bg-light text-center p-3" style="background-image: url('/img/bj.jpg');color: #bcd0c7" th:fragment="footer">
    版权所有 &copy; binbin
</footer>


</body>
</html>